<div class="col-md-9">
    <div class="container">
      
        <h2>Login</h2>
        <form action="" id="formLogin" method="post">
          <div class="form-group">
            <label for="name">Tên Đăng nhập:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            <span id="err_name"></span>
        </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            <span id="err_password"></span>
        </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
</div>
<script>
    $(document).ready(function(){
        $('#formLogin').on('submit',function(e){
            e.preventDefault();
            var username, password, flag=1;
            username = $('#name').val();
            password = $('#password').val();
            //alert(name + password);
            if(username == '')
            {
                flag = 0;
                $('#err_name').text('Mời bạn nhập tên');
                $('#err_name').show();
            }
            if(password == '')
            {
                flag = 0;
                $('#err_password').text('Mời bạn nhập mật khẩu');
                $('#err_password').show();
            }

            if(flag==1)
        {
            // gửi ajax
            $.ajax({
                // link
                url: 'login/process',
                // method
                type: 'POST',
                // dữ liệu
                data: {
                    'username': username,
                    'password': password
                },
                // kết quả trả về từ server
                success: function(result){
                    if(result.kq==1)
                    {
                        alert (result.message);
                        window.location.href="dashboard/index";
                    }
                    else{
                        alert(result.err);
                    }
                }
            });
            return false;
        }
        });
    });
</script>